<form method="post" action="/robot">
    <p>Are you made of metal? </p>
    <input type="radio" name="metal" value="yes">yes</p>
    <input type="radio" name="metal" value="no">no </p>
    <p>What is infinite plus 1? 
    <input type="text" name="infinity" required></p>
    <p>Which is your favorite food?
    <select name="food">
        <option value="human food">human food</option>
        <option value="synthetic oil">synthetic oil</option>
    </select>
    </p>
    <button type="submit">I am not a robot</button>
</form>